html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
.mainscreen {
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(78, 0, 78), rgb(238, 51, 176));
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.mainarea{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
         
}

.maintextarea{
    color: white;
    flex-grow: 1;
    max-width: 400px;
}

.imagearea{
    flex-grow: 3;
}

.imagearea img{
    width: 25vw;
    float:right;
}

.guestinstance{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


i.footericon { 
    color: white;
    padding-right: 10px;
} 

.participant{
    margin: 40px 0;
    border-radius: 20px;
    padding: 40px;
}

.cardheading{
    margin-bottom: 5vh;
    margin-top: 0;
}

.chip{
    margin: 10px;
}

.addbtn{
    
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.addparticipantbtn{
    margin-right:20px;
}
